<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="3">

    ﻿<!-- Log4j2 配置项 -->
    <Properties>
        <Property name="LOG4J_SKIP_JANSI" value="false"/>

        <Property name="console_pattern"
                  value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight{%-5level} --- [Thread: %20t] %style{%-50logger{1.}#%M:%L}{Cyan}: %msg%n"/>

        <Property name="file_pattern"
                  value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level --- [Thread: %20t] %-50logger{1.}#%M:%L: %msg%n"/>


        <!-- 配置日志的保存路径及文件名(各级别) -->
        <Property name="log_home" value="./logs"/>
        <Property name="file_name" value="dispatcher_log"/>

        <Property name="file_path_prefix" value="${log_home}/${file_name}"/>

        <Property name="log_file_path" value="${file_path_prefix}.log"/>
<!--        <Property name="error_log_file_path" value="${file_path_prefix}-error.log"/>-->

        <Property name="archived_log_file_name"
                  value="${log_home}/${date:yyyy-MM}/${file_name}-%d{yyyy-MM-dd}-%i.log.gz"/>

<!--        <Property name="error_archived_log_file_name"-->
<!--                  value="${log_home}/${date:yyyy-MM}/${file_name}-error-%d{yyyy-MM-dd}-%i.log.gz"/>-->
    </Properties>

    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${console_pattern}"/>
        </Console>

        <!-- ########################################################################################### -->
        <RollingRandomAccessFile name="RollingRandomAccessFile" append="true"
                                 fileName="${log_file_path}" filePattern="${archived_log_file_name}">
            <PatternLayout pattern="${file_pattern}"/>
            ﻿
            <Filters>
                <!--
                    比level="XXX"以及更高级别的日志会被匹配为math, 之后的会匹配为onMismath.
                    日志级别为: 日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL
                -->
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="NEUTRAL"></ThresholdFilter>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"></ThresholdFilter>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"></ThresholdFilter>

            </Filters>

            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10">
                <!-- ../../为webjoin部署时的路径。 -->
                <Delete basePath="${log_home}" maxDepth="2">
                <!--<Delete basePath="${log_home}" maxDepth="2">-->
                    <IfFileName glob="${file_name}-*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingRandomAccessFile>

        <!-- ########################################################################################### -->
        <!--<RollingRandomAccessFile name="RollingRandomAccessFile_ERROR"-->
                                 <!--append="true"-->
                                 <!--fileName="${error_log_file_path}"-->
                                 <!--filePattern="${error_archived_log_file_name}">-->
            <!--<PatternLayout pattern="${file_pattern}"/>-->
            <!--<Filters>-->
                <!--<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--</Filters>-->

            <!--<Policies>-->
                <!--<SizeBasedTriggeringPolicy size="20MB"/>-->
            <!--</Policies>-->

            <!--<DefaultRolloverStrategy max="10">-->
                <!--&lt;!&ndash; ../../为webjoin部署时的路径。 &ndash;&gt;-->
                <!--&lt;!&ndash;<Delete basePath="../../logs" maxDepth="2">&ndash;&gt;-->
                <!--<Delete basePath="${log_home}" maxDepth="2">-->
                    <!--<IfFileName glob="${file_name}-error-*.log.gz"/>-->
                    <!--<IfLastModified age="7d"/>-->
                <!--</Delete>-->
            <!--</DefaultRolloverStrategy>-->

        <!--</RollingRandomAccessFile>-->
    </Appenders>


    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingRandomAccessFile"/>
            <!--<AppenderRef ref="RollingRandomAccessFile_ERROR"/>-->
        </Root>
        <!-- ====================================================================== -->

        <!--
            设置项目内所有日志打印级别为DEBUG
            生产环境需要更改为info级别。
        -->
        <logger name="com.ebike" level="DEBUG"/>
    </Loggers>

</Configuration>